class-sys-api/src/main/mule/class-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="815fc1da-4c88-4901-901b-2ef62c31d921" >
		<file:connection workingDir="C:\Users\ACER\Desktop\Mulethon" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e1620ae9-0039-4cb2-9707-9deefc69930b" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="studentdata" />
	</db:config>
	<flow name="class-implementation-flow" doc:id="ff898a6f-25be-4692-b6f7-a133cbb28e8c" >
		<file:read doc:name="Reading CSV File" doc:id="26879f07-52ca-446b-81cc-00f845cc750a" config-ref="File_Config" path="C:\Users\ACER\Desktop\Mulethon\Class.csv"/>
		<flow-ref doc:name="refer-to-batch-flow" doc:id="983f267e-331b-42b1-bf21-0c14f739d831" name="class-implementation-batch-flow"/>
	</flow>
	<flow name="class-implementation-batch-flow" doc:id="08e4e201-d2e6-4cf5-891d-2aa391004ff4" >
		<logger level="INFO" doc:name="Logging Initial Payload" doc:id="33ef1454-cc6f-4b0f-906a-b253e8eecc79" message="#[payload]"/>
		<ee:transform doc:name="Mapping Input Fields" doc:id="100ef390-ea14-407c-9bf0-64269d8ccd0b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map {
Name: $.Name,
Hobby: $.Hobby,
Class: $.Class
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logging After Mapping" doc:id="8a8fca5d-6303-495b-8e24-26c922b54546" />
		<batch:job jobName="class-implementationBatch_Job" doc:id="8bdf2a00-5e5a-45d1-9030-997859dd56c1" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="5f0210de-3228-4e2a-afda-bfd86d597be5" >
					<db:insert doc:name="Insert To Student Table " doc:id="62ead56a-359d-4c55-9587-648cd9ebaaf7" config-ref="Database_Config">
						<db:sql ><![CDATA[INSERT INTO student(Name, Hobby, Class)
VALUES(:Name, :Hobby, :Class)]]></db:sql>
						<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
					</db:insert>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logging Response" doc:id="323da26e-35d9-46e5-ade0-53b6cef3a4d0" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="Logging Response " doc:id="c277a2d9-789f-4a15-b8de-4e41fa0a3f19" message="#[payload]"/>
	</flow>
</mule>
